.header__lang-link {
    border: none;
    background: none;
    color: white;
    text-decoration: none;
    margin-left: 18px;
    padding: 0;
    justify-self: right;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    align-self: center;
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 320px ) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-left: 16px;
    }
}
