.photo-grid {
    display: grid;
    grid-template-columns:  repeat(auto-fill, 284px);
    grid-template-rows:repeat(auto-fill, 213px);
    /*min-width: 1184px;*/
    /*height: 671px;*/
    gap: 16px;
    justify-content: center;
    margin: 92px 48px 90px;
}

@media screen and (max-width: 1024px ) {
    .photo-grid {
        grid-template-columns:  repeat(auto-fill, 300px);
        grid-template-rows:repeat(auto-fill, 225px);
        gap: 14px;
    }
}

@media screen and (max-width: 768px ) {
    .photo-grid {
        grid-template-columns:  repeat(auto-fill, 352px);
        grid-template-rows:repeat(auto-fill, 264px);
        gap: 16px;
        margin-right: 24px;
        margin-left: 24px;
        margin-bottom: 88px;
    }

}

@media screen and (max-width: 500px ) {
    .photo-grid {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px ) {
    .photo-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fill, 216px);
        gap: 12px;
        margin-bottom: 64px;

    }
}