.places {
    color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    gap: 80px;
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1100px ) {
    .places {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media screen and (max-width: 1024px ) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 800px ) {
    .places {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px ) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 650px ) {
    .places {
        gap: 0;
        margin: 0;
    }
}