.places {
    color: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    gap: 80px;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1024px ) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px ) {
    .places {
        max-width: 854px;
    }
}

@media screen and (max-width: 768px ) {
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 650px ) {
    .places {
        gap: 0;
        max-width: 100%;
    }
}