.cover__subtitle {
    margin-right: 412px;
    margin-left: 421px;
    position: relative;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px ) {
    .cover__subtitle {
        margin-left: 332px;
        margin-right: 332px;
    }
}
@media screen and (max-width: 768px ) {
    .cover__subtitle {
        margin-left: 204px;
        margin-right: 204px;
    }
}
@media screen and (max-width: 360px ) {
    .cover__subtitle {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}