.lead__title {
    max-width: 720px;
    margin: auto;
    -ms-grid-column-align: center;
    justify-self: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 760px ) {
    .lead__title {
        margin: 0;
        font-size: 70px;
    }
}

@media screen and (max-width: 515px ) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media screen and (max-width: 440px ) {
    .lead__title {
        font-size: 42px;
        line-height: 44px;
    }
}
