.lead__title {
    margin: auto;
    -ms-grid-column-align: center;
    justify-self: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    word-wrap: break-word;
}

@media screen and (max-width: 760px ) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
        font-size: 70px;
    }
}

@media screen and (max-width: 515px ) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media screen and (max-width: 430px ) {
    .lead__title {
        font-size: 42px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px ) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-left: 16px;
        margin-right: 16px;
    }
}