.lead__title {
    margin-right: 280px;
    margin-left: 280px;
    justify-self: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px ) {
    .lead__title {
        margin-left: 152px;
        margin-right: 152px;
    }
}

@media screen and (max-width: 760px ) {
    .lead__title {
        margin-left: 24px;
        margin-right: 24px;
        word-wrap: anywhere;
    }
}

@media screen and (max-width: 320px ) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin-left: 16px;
        margin-right: 16px;
    }
}