.lead__image{
    background-image: url(../../../images/lead-polka.jpg);
    width: 928px;
    height: 580px;
    margin-right: 48px;
    margin-left: 48px;
    display: flex;
    align-items: center;
    align-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}


