.intro {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1280px ) {
    .intro {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1024px ) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px ) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 700px ) {
    .intro {
        max-width: 600px;

    }
}

@media screen and (max-width: 600px ) {
    .intro {
        max-width: 560px;

    }
}

@media screen and (max-width: 550px ) {
    .intro {
        max-width: 440px;

    }
}

@media screen and (max-width: 440px ) {
    .intro {
        max-width: 400px;

    }
}

@media screen and (max-width: 400px ) {
    .intro {
        margin-top: 64px;
        max-width: 288px;
    }
}
