.intro {
    color: #FFFFFF;
    padding: 0 148px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 92px;
}

@media screen and (max-width: 1280px ) {
    .intro {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1150px ) {
    .intro {
        padding: 0 130px;
    }
}

@media screen and (max-width: 1024px ) {
    .intro {
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px ) {
    .intro {
        padding: 0 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px ) {
    .intro {
        padding: 0 16px;
        margin-top: 64px;
    }
}