.lead__subtitle {
    min-width: 640px;
    height: 72px;
    margin-top: 32px;
    justify-self: center;
    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
}