.lead__subtitle {
    max-width: 640px;
    margin: 0;
    margin-top: 32px;
    -ms-grid-column-align: center;
    justify-self: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 490px ) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}