.cover {
    position: relative;
    display: -moz-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 92px;
    margin-top: 92px;
}


@media screen and (max-width: 768px ) {
    .cover {
        margin-bottom: 90px;
        margin-top: 90px;
    }
}


@media screen and (max-width: 320px ) {
    .cover {
        max-height: 200px;
        margin-bottom: 64px;
        margin-top: 66px;
    }
}

