.cover__background {
    height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    margin-top: 92px;
    margin-right: 48px;
    margin-left: 48px;

}

.cover__background::before {
    position: absolute;
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.35s ease;
}

.cover__background:hover::before {

    opacity: 0.8;
}

@media screen and (max-width: 1024px ) {
    .cover__background {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px ) {
    .cover__background {

    }
}

@media screen and (max-width: 320px ) {
    .cover__background {
        max-height: 200px;
        margin-top: 46px;
    }

}
