.lead__caption {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    color: #FFFFFF;
    margin-top: 8px;
}

@media screen and (max-width: 1024px ) {
    .lead__caption {
        max-width: 928px;
    }
}

@media screen and (max-width: 925px ) {
    .lead__caption {
        max-width: 863px;
    }
}

@media screen and (max-width: 863px ) {
    .lead__caption {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px ) {
    .lead__caption {
        max-width: 770px;
    }
}

@media screen and (max-width: 768px ) {
    .lead__caption {
        max-width: 720px;
    }
}

@media screen and (max-width: 720px ) {
    .lead__caption {
        max-width: 680px;
    }
}

@media screen and (max-width: 690px ) {
    .lead__caption {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px ) {
    .lead__caption {
        max-width: 400px;
    }
}

@media screen and (max-width: 400px ) {
    .lead__caption {
        max-width: 320px;
    }
}

@media screen and (max-width: 320px ) {
    .lead__caption {
        max-width: 288px;
    }
}

