.lead__caption {
    max-width: 984px;
    /*display: block;*/
    width: 100%;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    color: #FFFFFF;
    margin-top: 8px;
}


@media screen and (max-width: 1024px ) {
    .lead__caption {
        /*max-width: none;*/
        max-width: 928px;
        margin: 0;
        /*width: auto;*/
        width: min-content;
        white-space: nowrap;
    }
}

@media screen and (max-width: 768px ) {
    .lead__caption {
        margin: 0 24px;
    }
}


@media screen and (max-width: 320px ) {
    .lead__caption {
        margin: 0 16px;
    }
}
