.cover__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    max-width: 940px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    padding-top: 55px;
}

@media screen and (max-width: 1024px ) {
    .cover__title {
        max-width: 768px;
    }
}

@media screen and (max-width: 520px ) {
    .cover__title {
        max-width: 520px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px ) {
    .cover__title {
        max-width: 320px;
        font-size: 32px;
        line-height: 35px;
        padding-top: 33px;
    }
}