.place {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    grid-template-columns:  472px 1fr;
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 1024px ) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px ) {
    .place {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
    }
}

@media screen and (max-width: 600px ) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 12px;
    }
}