.place {
    max-width: 984px;
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 460px;
    grid-template-columns: repeat(2, 472px);
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 768px ) {
    .place {
        grid-template-rows: minmax(min-content, max-content) 360px;
        grid-template-columns: repeat(2, 372px);
    }
}
@media screen and (max-width:360px ){
    .place{
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 12px;
    }
}