.intro__title{
    width: 690px;
    height: 58px;
    margin-left: 148px;
    margin-bottom: 40px;

    font-family: Inter sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */

}
@media screen and (max-width: 768px ) {
    .intro__title {
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width: 320px ) {
    .intro__title {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 34px;
    }
}